<!--display component-->
<div class="container-fluid"
style="padding-bottom: 5%; padding-top: 5%; background-color: rgb(217, 245, 243)">
<div class="container">
    <h1 class="display-4">Hello there!</h1>
    <p class="lead">Keep predicting stocks, we are here to help </p>
    <button class="uk-button uk-button-default" style="border-color: rgb(55, 67, 241);">Help</button>
</div>
</div>


<!--display compnent on search-->
<table class="table table-bordered" style="margin-bottom: 0px; background-color: rgb(217, 245, 243)">
<thead>
    <tr>
        <th scope="col" colspan="2" style="text-align: center">
            <!--logo instertion-->
            <img class="content-image img-fluid d-block mx-auto"src={{currentStock.logo}} alt="">
        </th>
        <th scope="col" style="text-align: center">d1</th>
        <th scope="col" style="text-align: center">d2</th>
        <th scope="col" style="text-align: center">d3</th>
        <th scope="col" style="text-align: center">d4</th>
        <th scope="col" style="text-align: center">d5</th>
        <th scope="col" style="text-align: center">prediction</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="2">Company Name : </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">Price : </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">Currency : </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tbody>
</table>