<app-search></app-search>

  <!--display compnent on search-->
  <table class="table table-bordered" style="margin-bottom: 0px; background-color: rgb(217, 245, 243)">
  <thead>
      <tr>
          <th scope="col" colspan="2" style="text-align: center">
              <img class="content-image img-fluid d-block mx-auto"src={{this.helperService.currentStock.logo}} alt="logo" width="40px" height="40px">
          </th>
          <th scope="col" style="text-align: center">Day 1</th>
          <th scope="col" style="text-align: center">Day 2</th>
          <th scope="col" style="text-align: center">Day 3</th>
          <th scope="col" style="text-align: center">Day 4</th>
          <th scope="col" style="text-align: center">Day 5</th>
          <th scope="col" style="text-align: center">Prediction</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td colspan="2">Company Name : {{this.helperService.currentStock.name}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td colspan="2">Price : {{this.helperService.currentStock.price}}</td>
          <td style="text-align: center">{{this.helperService.currentStock.d1}}</td>
          <td style="text-align: center">{{this.helperService.currentStock.d2}}</td>
          <td style="text-align: center">{{this.helperService.currentStock.d3}}</td>
          <td style="text-align: center">{{this.helperService.currentStock.d4}}</td>
          <td style="text-align: center">{{this.helperService.currentStock.d5}}</td>
          <td style="text-align: center">{{this.helperService.currentStock.prediction}}</td>
      </tr>
      <tr>
          <td colspan="2">Currency : {{this.helperService.currentStock.currency}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
  </tbody>
  </table>

  <div *ngIf="(this.helperService.pastSearches.length) >= 1" class="container-fluid" style="padding-bottom: 5%; padding-top: 5%; background-color: rgb(217, 245, 243)">
    <app-search-history></app-search-history>
  </div>

  <app-footer></app-footer>
  